%header

    .container
        .columns.is-mobile.is-vcentered

            .column.search.has-text-left

                .item
                    %a.has-text-primary name="search" -> %span.icon.is-large -> %i.fas.fa-2x.fa-search
                    %label.search -> Search

            .column.site.is-unwrapped.has-text-centered

                %a href="/"
                    %img.site-icon src="{| asset('images/icon.png') |}"
                    %img.site-logo alt="{| site.name |}" src="{| asset('images/logo.png') |}"

            .column.user.has-text-right

                .item
                    %a.has-text-info href="/cart" -> %span.icon.is-large -> %i.fas.fa-2x.fa-shopping-cart
                    %label.cart -> Cart
                    
                .item
                    %a.has-text-success href="/login" -> %span.icon.is-large -> %i.fas.fa-2x.fa-user
                    %label.user -> Log In

    %nav.navbar

.header-spacer
