
@font-face {
    font-family: 'Anton';
    src: url('anton_regular.eot');
    src: url('anton_regular.eot?#iefix') format('embedded-opentype'),
         url('anton_regular.woff2') format('woff2'),
         url('anton_regular.woff') format('woff'),
         url('anton_regular.svg#antonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('patrickhand_regular.eot');
    src: url('patrickhand_regular.eot?#iefix') format('embedded-opentype'),
         url('patrickhand_regular.woff2') format('woff2'),
         url('patrickhand_regular.woff') format('woff'),
         url('patrickhand_regular.svg#patrick_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('worksans_light.eot');
    src: url('worksans_light.eot?#iefix') format('embedded-opentype'),
         url('worksans_light.woff2') format('woff2'),
         url('worksans_light.woff') format('woff'),
         url('worksans_light.svg#work_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('worksans_bold.eot');
    src: url('worksans_bold.eot?#iefix') format('embedded-opentype'),
         url('worksans_bold.woff2') format('woff2'),
         url('worksans_bold.woff') format('woff'),
         url('worksans_bold.svg#work_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
