<header>
    <div class="container">
        <div class="columns is-mobile is-vcentered">
            <div class="column search has-text-left">
                <div class="item">
                    <a class="has-text-primary" name="search"><span class="icon is-large"><i class="fas fa-2x fa-search"></i></span></a>
                    <label class="search">Search</label>
                </div>
            </div>
            <div class="column site is-unwrapped has-text-centered">
                <a href="/">
                    <img class="site-icon" src="/static/images/icon.png" />
                    <img class="site-logo" alt="FAN GALORE" src="/static/images/logo.png" />
                </a>
            </div>
            <div class="column user has-text-right">
                <div class="item">
                    <a class="has-text-info" href="/cart"><span class="icon is-large"><i class="fas fa-2x fa-shopping-cart"></i></span></a>
                    <label class="cart">Cart</label>
                </div>
                <div class="item">
                    <a class="has-text-success" href="/login"><span class="icon is-large"><i class="fas fa-2x fa-user"></i></span></a>
                    <label class="user">Log In</label>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar">    </nav>
</header>
<div class="header-spacer"></div>
<style>
header{background:#fcfcfc;box-shadow:0 2px 2px rgba(0,0,0,.2);min-width:400px;position:fixed;transition:all .32s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%;z-index:2}header .column:first-child,header .column:last-child{padding:0 2em}header .site{margin-bottom:-1em;margin-left:-6em;transition:all .16s ease}header .site-icon{max-width:20vw;transform:rotate(-20deg);transition:all .16s ease;width:160px}header .site-logo{margin:0 2.5em 1.75em -2.5em;transform:rotate(-4deg);transition:all .16s ease;width:360px}header .site:hover .site-logo,header .site[focus-within] .site-logo{transform:rotate(2deg) scale(1.12)}header .site:focus-within .site-logo,header .site:hover .site-logo{transform:rotate(2deg) scale(1.12)}header .site:hover .site-icon,header .site[focus-within] .site-icon{transform:rotate(-36deg) scale(1.08)}header .site:focus-within .site-icon,header .site:hover .site-icon{transform:rotate(-36deg) scale(1.08)}header .item{display:inline-block;padding-top:1.5em;text-align:center;transition:all .16s ease}header .item label{display:block;font-weight:600;letter-spacing:0;margin-top:-.125em;opacity:0;text-shadow:1px 1px 2px rgba(0,0,0,.25);transition:all .16s ease}header .item:hover label,header header .item[focus-within] label{opacity:1}header .item:hover label,header header .item:focus-within label{opacity:1}header .item i{text-shadow:1px 2px 2px rgba(0,0,0,.33);transition:all .64s ease}header .item:hover i,header header .item[focus-within] i{-webkit-filter:brightness(1.5);filter:brightness(1.5);text-shadow:1px 3px 4px rgba(0,0,0,.25);transform:scale(1.08)}header .item:hover i,header header .item:focus-within i{-webkit-filter:brightness(1.5);filter:brightness(1.5);text-shadow:1px 3px 4px rgba(0,0,0,.25);transform:scale(1.08)}header .cart{margin-left:.25em}.navbar{background:0 0;min-height:3em;transition:all .16s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.header-spacer{height:11em;transition:all .16s ease}.is-scrolled header .site{margin-bottom:-.5em;margin-left:2em}.is-scrolled header .site-icon{width:60px}.is-scrolled header .site-logo{margin:0 2.5em .75em -1em;width:160px}.is-scrolled header .item{margin-top:-.25em;padding-top:0}.is-scrolled header .item label{font-size:.8em;margin-top:-.75em}.is-scrolled header .item i{font-size:1.5em}.is-scrolled .navbar{height:0;min-height:0}.is-scrolled .header-spacer{height:3.5em}.mobile html,.tablet html{zoom:.8}.mobile header .site,.tablet header .site{margin-bottom:-.5em;margin-left:-6em}.mobile header .item,.tablet header .item{padding-top:.5em}.mobile header .item i,.tablet header .item i{font-size:1.5em}.mobile header .item label,.tablet header .item label{margin-top:-.5em}.mobile header .site-icon,.tablet header .site-icon{width:96px}.mobile header .site-logo,.tablet header .site-logo{margin:0 2.5em .75em -1em;width:200px}.mobile .header-spacer,.tablet .header-spacer{height:8em}.mobile.is-scrolled header .site,.tablet.is-scrolled header .site{margin-left:-6em}.mobile.is-scrolled .header-spacer,.tablet.is-scrolled .header-spacer{height:5.5em}.small.mobile .header-spacer{height:7.2em}.small.mobile.is-scrolled .header-spacer{height:5em}
</style>