<div class="container">
    <h1>Home</h1>
    <h2>Subtitle</h2>
    <h3>Title three</h3>
    <h4>Title four</h4>
    <h5>Title five</h5>
    <h6>Title six</h6>
    <p>
        This is a paragraph
    </p>
</div>