-extends 'layout.haml'

-block title
    
    Failed

-block head
    
    %style
        |   body { padding: 2% 20% 2% 4%; }
        |   a { color: #00D1B1; }
        |   pre { white-space: pre-wrap; }
        |   ul { background: rgba(0,0,0,0.2); padding: 1em 2em; }
        |   li { list-style: none; }
        |   ::-webkit-scrollbar { background: #222232; }
        |   ::-webkit-scrollbar-thumb { background: #111115; }
        |   .dark { background: #232330; color: #ebdcce; }

-block body

    %h1 -> Failed &mdash; sorry!

    -if name
        %h3 -> =name

    =exception

    -if traceback
        %ul
            -for line in traceback
                %li -> %pre -> =line|trim

