-extends 'layout.haml'


-block title -> {| site.name |}


-block head
    
    -assets 'vendor_css' -> %link rel="stylesheet" href="{| ASSET_URL |}"
    -assets 'app_css' -> %link rel="stylesheet" href="{| ASSET_URL |}"


-block body

    -assets 'vendor_js' -> %script src="{| ASSET_URL |}"
    -assets 'app_js' -> %script src="{| ASSET_URL |}"
