<!DOCTYPE html>
%html

    %head

        %title -> -block title

        %meta charset="utf-8"
        %meta name="viewport" content="width=device-width, initial-scale=1"

        %link rel="icon" href="/favicon.ico"

        -block head

    %body.dark

        -block body

