%h1 -> Log in

%form action="{| url_for_security('login') |}" method="POST" name="login_user_form"

    =login_user_form.hidden_tag()
    =login_user_form.remember(checked=True, type='hidden')

    .email

        -for error in login_user_form.email.errors:
            %span.error -> =error

        %label for="email" -> Email
        =login_user_form.email|safe

    .password

        -for error in login_user_form.password.errors:
            %span.error -> =error

        %label for="password" -> Password
        =login_user_form.password|safe

    .submit
    
        =login_user_form.submit|safe
